form.sign-up
    h2.sign-up-header SIGN UP

    .container
        input.input-ok(
        name="username",
        type="text",
        placeholder="username"
        )
        p.error-message

    .container
        input.input-ok(
        name="email"
        type="text"
        placeholder="email"
        )
        p.error-message

    .container
        input.input-ok(
        name="password"
        type="password"
        placeholder="password"
        )
        p.error-message

    .container
        input.input-ok(
        name="confirm-password"
        type="password"
        placeholder="one more time"
        )
        p.error-message

    input(
    id = "sign-up__sign-up-button"
    type="submit"
    value="DONE"
    )
