form(class='login')
    h2.login-header LOGIN
    .container
        input(
        type='text'
        name='login'
        placeholder='username'
        class='input-ok'
        )
        p.error-message
    .container
        input(
        type='password'
        name='password'
        placeholder='password'
        class='input-ok'
        )
        p.error-message
    input(
    id='login__login-button'
    type='submit'
    value='LOGIN'
    )
    p.signup or
    input(
    id='login__sign-up-button'
    type='button'
    value='SIGN UP'
    )
    p.social-login or login with
    ul.social
        li
            a.social-login-vk VK
        li
            a.social-login-fb FB

